<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-mybatis.org//DTD Mapper 3.0//EN" "http//mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elean.dao.PaymentDao">
    <select id="getById" parameterType="Long" resultType="com.elean.entities.Payment">
        SELECT * FROM PAYMENT WHERE ID = #{id}
    </select>

    <insert id="add" parameterType="com.elean.entities.Payment" useGeneratedKeys="true" keyColumn="id">
        insert into payment (serial) values (#{serial})
    </insert>
</mapper>